* {
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  display: grid;
  justify-items: center;
  height: 100vh;
}

button {
  border: 1px solid black;
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
}

#content {
  width: 80%;
  position: relative;
  overflow: hidden;
}

.header h1 {
  color: blueviolet;
  font-weight: lighter;
  padding: 20px 5px 10px;
  text-decoration: underline;
}

#displayContainer {
  height: 50%;
  overflow-y: scroll;
  position: relative;
  z-index: 2;
  background-color: white;
  border: 1px solid black;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

#titleHeader,
#authorHeader {
  width: 40%;
}

#statusHeader {
  width: 15%;
}

#deleteHeader {
  width: 5%;
}

table th {
  height: 50px;
  padding: 0px 5px;
  text-align: left;
  position: sticky;
  top: 0;
  background-color: #f2f2f2;
  z-index: 10;
  border-bottom: 2px solid black;
}

tr {
  height: 50px;
  padding-left: 5px;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

td {
  padding: 0px 5px;
}

button.read {
  background-color: lightgreen;
}

button.read,
button.tbr {
  height: 25px;
  width: 60px;
}

.deleteBtn {
  height: 25px;
  aspect-ratio: 1/1;
}

.deleteBtn:hover,
.deleteBtn:focus {
  background-color: red;
  color: white;
}

#drawerBtn {
  width: 100%;
  background-color: lightskyblue;
  position: relative;
  z-index: 2;
  border-radius: 0px 0px 10px 10px;
  margin-bottom: 10px;
  padding: 5px 0px;
}

.caret {
  display: inline-block;
  transition: transform 0.5s ease;
}

#drawerBtn.active .caret {
  transform: rotate(180deg);
}

#formContainer {
  display: flex;
  justify-content: center;
  transform: translateY(-110%);
  z-index: 1;
  transition: transform 0.5s ease;
}

#formContainer.on-screen {
  transform: translateY(0);
}

label {
  font-size: 0.8rem;
  font-weight: lighter;
}

input[type="text"] {
  width: 100%;
  margin-top: 2px;
  padding: 5px;
}

fieldset {
  margin-top: 10px;
  padding-bottom: 5px;
}

form span {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

input[type="radio"] {
  margin: 0px 20px 0px 5px;
}

input[type="submit"] {
  border: 1px solid black;
  border-radius: 10px;
  background-color: lightskyblue;
}

input[type="submit"]:hover {
  cursor: pointer;
}

input[type="submit"],
#cancelBtn {
  padding: 5px 10px;
  margin-top: 10px;
}
